body {
    font-family: Arial;
    margin: 0;
    text-align: center;
}

header {
    background: #333;
    color: white;
    padding: 20px;
}

nav {
    background: #444;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.profile-img {
    width: 200px;
    border-radius: 50%;
    margin: 20px;
}

.project-card img {
    width: 300px;
    margin: 10px;
}
