body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
}

header {
    padding: 50px;
    background: linear-gradient(to right, #ff416c, #ff4b2b);
}

h1 {
    margin: 0;
    font-size: 40px;
}

section {
    padding: 40px;
}

.about, .skills, .projects {
    background: #1e1e1e;
    margin: 20px;
    border-radius: 10px;
    padding: 30px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 8px;
}

button {
    padding: 10px 20px;
    background: #ff416c;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #ff4b2b;
}
